@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
.landing{
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
}


.foodImg img{
    width: 100%;
    height: 300px;
}
.wordColor{
    color: rgb(243, 59, 59);
}

.introLines h1{
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 20px;
}

.btn{
    border:none;
    padding: 8px 30px;
    background-color:#f35c70;
}