@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');
.landing{
    display: grid;
    margin-top: 100px;
    padding: 20px 50px;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));

}

@media only screen and (max-width:768px){

    .landing{
        grid-template-areas:
        "box2" 
        "box1";
    }
    
    .foodImg{
        margin-top: 50px;
        grid-area:box1;
    }
    .introLines{
        grid-area:box2;
    }



}

.introLines{
    justify-content: center;
    align-items: center;
}


.foodImg img{
    width: 100%;
    height: 300px;

}
.wordColor{
    color: rgb(223, 200, 200);
    pointer-events: none;
}

.introLines h1{
   
    margin-bottom: 20px;
}

.btn{
    font-family: 'Source Code Pro', monospace; 
    border:none;
    padding: 8px 30px;
    border-radius: 20px;
    background-color:#f35c70;
}
.btn a {
    text-decoration: none;
    color: black;
}
.btn:hover{
    background-color:rgb(252, 173, 173);
}