#navbar{
    margin-bottom: 10px;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(10rem,1fr));
}

.brandname{
    padding-left: 20px;
    font-size:1.8rem;
    font-weight:bold; 
    color:#fff;    
    background:-webkit-linear-gradient( #585353 , #ee224b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none; 
}
.list li{
    display: inline-block;
    
}
.list li a {
    color: #fff;
    text-decoration:none;

}
.list li a:hover{
   color: rgb(243, 150, 150);
    
}